*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dbd8bf;
    font-family:  'Noto Sans', sans-serif;
}
/* Header styles */
header{
    color: #f65a0c;
    padding: 30px;
    font-size: 18px;
    margin-top: 15px;
    font-family:  'Noto Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
header .logo{
    font-family: 'Courier Std Medium', 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    opacity: 0%;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul a{
    color: #968b8b;
    font-weight: 650;
    text-decoration: none;
    margin-right: 50px;
}
nav ul a:hover{
    color: #f65a0c;
    text-decoration: underline;
    text-shadow: 0 0 5px #d6bebe;
    transition: 0.3s;
}
/* Toggle switch styles */
header .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #968b8b;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;   /* starts from left */
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

/* when clicked */

input:checked + .slider {
  background-color: #f65a0c;
}

input:checked + .slider:before {
  transform: translateX(26px); /* moves to right */
}

/* rounded */

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
/*Resume Content styles*/
.resume{
  padding: 50px;
  display: flex;
  flex-direction: column;
}
 .resume-content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.resume-content iframe {
    width: 70%;
    height: 700px;
    border: none;
}
.dwld-btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.dwld-btn .button-1{
  background-color: #ffffff;
    border-radius: 10px;
    width: 150px;
    text-decoration: none;
    padding: 10px 20px;
    color: #968b8b;
    text-align: center;
}
.dwld-btn .button-1 a{
    text-decoration: none;
    color: #968b8b;
    padding: 10px 20px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
.dwld-btn .button-1 a:hover{
    color: white;
}
.dwld-btn .button-1:hover{
    background-color: #f65a0c;
    color: white;
    transform: scale(1.1);
    transition: 0.3s;
}

/* Footer styles */
.footer{
    background-color: #0f0f0f;
    color: #968b8b;
    text-align: center;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
}
.footer p{
    margin-bottom: 15px;
}
.footer .social-icons a{
    color: #968b8b;
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px;
    font-size: 17px;
}